body {
  font-family: "Lato", sans-serif;
}

.box {
  position: absolute;
  height: 100vh;
  width: 40%;
  left: 0;
  background-color: #2A6195;
  opacity: 0.3;
}

.main-head {
  height: 150px;
  background: #FFF;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .box {
    display: none;
  }
}

@media screen and (max-width: 767px) {

  .box {
    display: none;
  }

  .login-img {
    display: none;
  }

  .login-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .login {
    display: flex;
    height: 100vh;
  }

  .login-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    width: 50%;
  }

  .login-img {
    width: 40%;
  }

  .login-img img {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100vh;
  }

  .register-form {
    margin-top: 20%;
  }

  .login-main-text {}
}

.login-main-text {
  /*margin-top: 10%;
  padding: 60px;*/
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-login {
  background-color: #2A6195;
  color: #fff;
  width: 100%;
  transition: 0.3s;
}

.btn-login:hover {
  background-color: #165cd5;
  color: #FFF;
}

.login-register {
  text-align: center;
  margin-top: 50px;

}

.login-title {
  color: #34495d;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}

.login-register a {
  color: #2A6195 !important;
}

.login-forgot {
  color: #2A6195 !important;
}